@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #ff4500;
}

.tool-style__form-wrap select {
    border-radius: 0 !important;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-color: unset;
    --tw-ring-offset-shadow: unset;
    --tw-ring-shadow: unset;
    box-shadow: unset;
    border-color: var(--main-color) !important;
}

.dash-edit-p .btn,
.dash-edit-p .input-text,
.dash-edit-p .select-box {
    border-radius: 0;
}

.collapse {
    visibility: unset;
}

.dash-active {
    color: var(--main-color) !important;
}

.is-list-active .product-m,
.is-grid-active .product-m {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 4px 0px,
        rgba(90, 125, 188, 0.05) 0px 4px 16px 0px;
    margin-bottom: 2rem;
}

.badge--cancelling {
    background-color: rgba(255, 69, 0, 0.14) !important;
    color: var(--main-color);
}

.badge--new {
    background-color: rgba(49, 133, 252, 0.14) !important;
    color: #3185fc;
}

.badge--paid {
    background-color: rgba(0, 148, 68, 0.14) !important;
    color: #009444;
}
